* {
    box-sizing: border-box;
}

body {
    background-color: #90EE90;
    margin: 0;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

video {
    display: block;
    margin: 0 auto;
}