* {
    box-sizing: border-box;
}

body {
    background-color: #90EE90;
    margin: 0;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

#darwin {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 35px;
}

#remy {
    display: flex;
    justify-content: center;
    gap: 20px;
}

video {
    max-width: 350px;
}
