extends layout 

block content 
    h1= title
    p Please enter your information 
    hr
    if msg
        ul 
            each value in msg
                li=value.msg

        form(method='POST', action='/contact/add')
            label First Name:
                input(type = 'text', name='firstName', placeholder = 'First Name')
            label Last Name: 
                input(type = 'text', name='lastName', placeholder = 'Last Name')
            label Email: 
                input(type = 'email', name='email', placeholder = 'Email')
            label Notes 
                textarea(name ='notes', placeholder = 'Notes')
            button(type = 'submit') Submit 
        a(href='/contact') Cancel
     

